@font-face {
  font-family: "gabarito-regular";
  src: url("src/assets/fonts/gabaritoRegular.ttf");
}

@font-face {
  font-family: "gabarito-bold";
  src: url("src/assets/fonts/gabaritoBold.ttf");
}

@font-face {
  font-family: "gabarito-black";
  src: url("src/assets/fonts/gabaritoBlack.ttf");
}
