header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding: 0 5vw;
  box-shadow: 0 0 0.2rem #000000;
}

.content {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 15%;
}

.auth-grp {
  width: 25%;
  display: flex;
  justify-content: space-between;

  a {
    color: #303037;
  }
}
