<main>
  <form class="inputs-group" [formGroup]="loginForm" (ngSubmit)="login()">
      <img src="assets/images/log-reg/Vector.png">
      <h2>Увійти в аккаунт</h2>
      <input placeholder="Email" type="email" formControlName="email">
      <input placeholder="Пароль" type="password" formControlName="password">
      <button type="submit">Увійти в аккаунт</button>
      <span class="text">
        <p>Немаєте аккаунта?</p>
      <a [routerLink]="'/reg'">Зареєструватися!</a>
      </span>
  </form>
</main>
