*{
  color: #303037;
}
main {
  height: 70vh;
  padding: 5vh 5vw;
  background-image: url("../../../assets/images/log-reg/grain.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.2rem;
  margin: 2vh 0 1vh 0;
}

.inputs-group {
  margin: 6vh 0;
  width: 23vw;
  padding: 3.5vh 2vw;
  background-color: rgba(	252, 249,	247, 0.85);
  border-radius: 1vw;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: 15vw;
    height: 4.5vh;
    padding-left: 1rem;
    font-size: 1rem;
    margin-top: 1vh;
    background-color: rgba(	252, 249,	247, 1);
    border: none;
  }
}

button {
  width: 10vw;
  height: 5vh;
  margin-top: 3vh;
  background-color:#EC9E5D;
  border-radius: 0.5vw;
  font-size: 1rem;
  color: #F5F5F5;
  cursor: pointer;
  outline: none;
  border: none;
}

 .text{

   p {
     font-size: 0.75rem;
   }

   a {
     margin-left: 0.3rem;
     font-weight: bold;
     font-family: "gabarito-bold", Arial, sans-serif;
     font-size: 0.75rem;
   }

 }
