<main class="auth-content">
  <form class="inputs-group" [formGroup]="loginForm" (ngSubmit)="login()">
      <img src="assets/images/log-reg/Vector.png" alt="grain">
      <h2>Sign in</h2>
      <input placeholder="Email" type="email" formControlName="email">
      <input placeholder="Password" type="password" formControlName="password">
      <button type="submit" class="auth-btn">Sign in</button>
      <span class="redirect-text">
        <p>Don't have an account?</p>
        <a [routerLink]="'/registration'">Register!</a>
      </span>
  </form>
</main>
