<div class="first-block">
  <h1>GrainMole - система,
    яка автоматично моніторить
    стан зерна</h1>
</div>
<div class="second-block">
  <h2>
    Будьте впевнені, що із зерном усе гаразд!
  </h2>
 <div class="blocks">
   <div class="block-content">
     <img src="assets/images/home-page/second-block/temp.png">
     <div class="block-content__right-side">
       <h3>Моніторинг температури</h3>
       <p>
         Дізнавайтесь про температуру зерна
         та уникайте його псування,
         виявляючи гарячі точки.
       </p>
     </div>
   </div>
   <div class="block-content">
     <img src="assets/images/home-page/second-block/Group.png">
     <div class="block-content__right-side">
       <h3>Модульність</h3>
       <p>
         Система немає фіксованої довжини і
         підійде під будь-який склад
         будь-якої висоти.
       </p>
     </div>
   </div>
   <div class="block-content">
     <img src="assets/images/home-page/second-block/gears.png">
     <div class="block-content__right-side">
       <h3>Автоматичність</h3>
       <p>
         Тепер немає потреби вимірювати
         вручну температуру зерна.
       </p>
     </div>
   </div>
 </div>
  <h4 class="planet">Save grain - feed planet!</h4>
</div>
<div class="third-block">
  <div class="left-side">
    <h2>Як працює система?</h2>
    <p>GrainMole - це система, яка аналізує стан зерна та дає прогнози про можливе погіршення згодом,
      для того щоб можна було завчасно вжити заходів. </p>
    <p>Система складається з сенсорів, які встановлюються в зерні та маршрутизатора, який приймає дані
      з сенсорів та надсилає їх на сайт. </p>
    <p>Це дає змогу Вам зручно контролювати стан зерна в будь-якому місці, де є доступ до інтернету. Сайт надає точні
      цифрові дані, зберігає їх для довготривалого аналізу, малює графіки, та пропонує прогнози, щодо майбутніх змін. </p>
    <p>Система - є повністю бездротовою, що забезпечує комфорт, і є дуже енергоефективною, що дає змогу забути
      про заряд секцій на довгі місяці.</p>
  </div>
  <img src="assets/images/home-page/grain.png">
</div>
