<div class="first-block">
  <h1>GrainMole is a system
    that automatically monitors
    grain condition</h1>
</div>
<div class="second-block">
  <h2>Be sure that the grain is in good condition!</h2>
 <div class="blocks">
   <div class="block-content">
     <img src="assets/images/home-page/second-block/temp.png">
     <div class="block-content__right-side">
       <h3>Temperature monitoring</h3>
       <p>
         Find out about the temperature of the grain
         and avoid spoilage,
         by identifying hot spots.
       </p>
     </div>
   </div>
   <div class="block-content">
     <img src="assets/images/home-page/second-block/Group.png">
     <div class="block-content__right-side">
       <h3>Modularity</h3>
       <p>
         The system has no fixed length and
         will fit any warehouse
         of any height.
       </p>
     </div>
   </div>
   <div class="block-content">
     <img src="assets/images/home-page/second-block/gears.png">
     <div class="block-content__right-side">
       <h3>Automation</h3>
       <p>
         Now there is no need to measure
         the grain temperature manually.
       </p>
     </div>
   </div>
 </div>
  <h4 class="planet">Save grain - feed planet!</h4>
</div>
<div class="third-block">
  <div class="left-side">
    <h2>How does the system work?</h2>
    <p>GrainMole is a system that analyzes the condition of grain and makes predictions about possible deterioration
      over time so that measures can be taken in advance.</p>
    <p>The system consists of sensors that are installed in the grain and a router that receives data from the sensors
      and sends it to the website.</p>
    <p>This allows you to conveniently monitor the condition of your grain anywhere you have access to the Internet.
      The website provides accurate digital data, stores it for long-term analysis, draws graphs, and offers forecasts of future changes.</p>
    <p>The system is completely wireless, which ensures comfort, and is very energy efficient, allowing you to forget
      about charging the sections for many months.</p>
  </div>
  <img src="assets/images/home-page/grain.png">
</div>
