<main class="auth-content">
  <form class="inputs-group" [formGroup]="registrationForm" (ngSubmit)="register()">
    <img src="assets/images/log-reg/Vector.png" alt="grain">
      <h2>Create account</h2>
      <input placeholder="Name" type="text" formControlName="firstname">
      <input placeholder="Last Name" type="text" formControlName="lastname">
      <input placeholder="Email" type="email" formControlName="email">
      <input placeholder="Password" type="password" formControlName="password">
    <button type="submit" class="auth-btn">Create account</button>
    <span class="redirect-text">
      <p>Already registered?</p>
      <a [routerLink]="'/login'">Sign in!</a>
    </span>
  </form>
</main>
