<footer>
  <ul>
    <li class="contacts-title">Контакти:</li>
    <li>Номер</li>
    <li>Пошта</li>
    <li>Львів, Україна</li>
  </ul>
  <div class="social-buttons">
    <a href="#" >
      <img src="/assets/images/social/facebook.png" alt="Facebook">
    </a>
    <a href="#" >
      <img src="/assets/images/social/instagram.png" alt="Instagram">
    </a>
    <a href="#" >
      <img src="/assets/images/social/email.png" alt="Email">
    </a>
  </div>
  <img src="/assets/images/logos/logo.png" [routerLink]="''" class="logo" alt="GrainMole">
</footer>
